/* Video Section */
html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

/* Create a responsive container */
.video-container {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

/* Style the iframe for responsiveness */
.video-container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: none;
}